body {overflow-x: hidden !important}
.rhap_stacked{
  display: flex !important;
  width: 160px;
  margin-top: 10px;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.rhap_progress-section {
  display: flex;
}

.rhap_current-time{
  margin-left: 5px;
}

.rhap_current-time::after{
  content: '/';
  margin-right: 5px;
}

.rhap_additional-controls, .rhap_volume-controls, .rhap_rewind-button, .rhap_forward-button{
  display: none !important;
}

.rhap_play-pause-button {
  border: 0 !important;
  background-color: inherit !important;
  cursor: pointer;
  font-size: 2rem !important;
  fill: inherit !important;
}

.rhap_play-pause-button svg path {
  fill: inherit !important;
}
